<%= simple_form_for([@article, @article.tickets.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 <%= f.input :priority do %>
    <%= f.select :priority, ['Very Low','Low', 'Normal', 'High', 'Very High',] %>
  <% end %>
  <%= f.input :difficulty do %>
<%= f.select :difficulty, ['Very Easy', 'Easy', 'Medium','Hard', 'Very Hard'] %>
  <% end %>
  <%= f.input :status do %>
    <%= f.select :status, ['Open', 'Closed', 'Cancelled'] %>
  <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>