<%= form_for([@article, @article.tickets.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
<p>
    <%= f.label :status %><br>
    <%= f.text_area :status %>
  </p>
<p>
    <%= f.label :difficulty %><br>
    <%= f.text_area :difficulty %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>