<p>
    <strong>Title:</strong>
    <%= ticket.title %>
  </p>
 
  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>

 <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>

 <p>
    <strong>Difficulty:</strong>
    <%= ticket.difficulty %>
  </p>

<p>

  <%= link_to 'Delete ticket', [ticket.article, ticket],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>