<div class="media">
  <div class="media-body">
<table class="table table-striped">
  <thead>
    <tr>
      <th><h2>Title:</h2></th>
      

      <th><h2>Description:</h2></th>
      
      <th colspan="2"></th>
</tr>
  </thead>
  <tr>
  <td><%= @article.title %></td>
      <td><%= @article.text %></td>
  </tr>
    </table>
    </div>
</div>
<h2>Tickets attached to <%= @article.title %>:</h2><br>
<%= render @article.tickets %>
 
 
<h2>Add a ticket to this project:</h2>
<%= render 'tickets/form' %>
 <br>
<%= link_to 'Back', articles_path,:class => 'btn btn-mini btn-info' %>