<div class="media">
  <div class="media-body">
<table class="table table-striped">
  <thead>
    <tr>
  <th>Title:</th>
      

  <th>Text:</th>
      
      <th colspan="2"></th>
</tr>
  </thead>
  <tr>
  <td><%= @article.title %></td>
      <td><%= @article.text %></td>
  </tr>
    </table>
    </div>
</div>
<h2>Tickets</h2>
<%= render @article.tickets %>
 
 
<h2>Add a ticket to project:</h2>
<%= render 'tickets/form' %>
 
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>